*{
    margin: 0px;
}
img{
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
    animation: alternate-reverse;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#text{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 3px darkgrey solid;
    border-right: 3px darkgrey solid;
    border-left: 3px darkgrey solid;
    margin-top: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 10px grey;
}
